body{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    text-align: center;
}
div{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    margin: 3% auto;
    overflow: hidden;
    border-radius: 20px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 400px;
    right:850px;
    width: auto;
    padding: 16px;
    color: rgb(211, 13, 13);
    font-weight: bold;
    font-size: 55px;
    opacity: 1;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 420px;
    border-radius: 3px 0 0 3px;
  }
  .next:hover{
opacity: 1;
  }
  .prev:hover{
    opacity:1;
  }